.video.svelte-16cxqg0.svelte-16cxqg0{width:100%;height:100vh}.video.svelte-16cxqg0 video.svelte-16cxqg0{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover}.video.svelte-16cxqg0 h1.svelte-16cxqg0{position:absolute;top:0;left:0;width:100%;height:100%;font-size:12vw
	}
