.video.svelte-kusyfk.svelte-kusyfk{width:100%;height:100vh}.video.svelte-kusyfk video.svelte-kusyfk{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover}.video.svelte-kusyfk h1.svelte-kusyfk{position:absolute;top:0;left:0;width:100%;height:100%;font-size:12vw;display:flex
	}
